services:
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://0.0.0.0:9094
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_MIN_INSYNC_REPLICAS=1
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
    ports:
      - "9094:9094"
    networks:
      - app-net

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
      - KAFKA_CLUSTERS_0_READONLY=false
      - KAFKA_CLUSTERS_0_TOPIC_AUTO_CREATE=true
    networks:
      - app-net

  kafka-init:
    build:
      context: ./kafka
      dockerfile: Dockerfile
    container_name: kafka-init
    environment:
      - KAFKA_BROKERS=kafka:9092
    depends_on:
      - kafka
    restart: "no"
    networks:
      - app-net

  payment-service:
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    container_name: payment-service
    environment:
      - KAFKA_BROKERS=kafka:9092
      - PORT=8000
      - KAFKAJS_NO_PARTITIONER_WARNING=1
    depends_on:
      - kafka
      - kafka-init
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - app-net

  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    container_name: order-service
    environment:
      - KAFKA_BROKERS=kafka:9092
      - KAFKAJS_NO_PARTITIONER_WARNING=1
    depends_on:
      - kafka
      - kafka-init
    restart: unless-stopped
    networks:
      - app-net

  email-service:
    build:
      context: ./email-service
      dockerfile: Dockerfile
    container_name: email-service
    environment:
      - KAFKA_BROKERS=kafka:9092
      - KAFKAJS_NO_PARTITIONER_WARNING=1
    depends_on:
      - kafka
      - kafka-init
    restart: unless-stopped
    networks:
      - app-net

  analytic-service:
    build:
      context: ./analytic-service
      dockerfile: Dockerfile
    container_name: analytic-service
    environment:
      - KAFKA_BROKERS=kafka:9092
      - KAFKAJS_NO_PARTITIONER_WARNING=1
    depends_on:
      - kafka
      - kafka-init
    restart: unless-stopped
    networks:
      - app-net

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    environment:
      - NEXT_TELEMETRY_DISABLED=1
    depends_on:
      - payment-service
      - order-service
      - email-service
      - analytic-service
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
